div {
    height: 300px;
    /* background-image: url(https://plus.unsplash.com/premium_photo-1677661620514-aec974a9876c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-image: url(../../images/galaxy.webp); */
    background-image: url(https://images.unsplash.com/photo-1704024213027-c3555991bc63?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-image: url("../images/galaxy.webp"); */
    /* background-image: repeat-x;
    background-image: repeat-y;
    background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}  